body{
  background-color: aqua;
}


.box{
  height: 200px;
  width: 200px;
  border: 1px solid black;

  background-color: bisque;
  overflow: hidden;
  overflow: scroll;
  overflow: auto;
  /* overflow: visible; */
}