.box{
  border: 1px solid black;
  height: 200px;
  width: 200px;
}

.box1{
  /* display: inline; */
  display: inline-block;
  /* display: none; */
  /* visibility: hidden; */
  /* visibility: visible; */
  /* display: block; */
}

.box2{
  display: inline-block;
}

span{
  border: 1px solid black;
  height: 200px;
  width: 200px;
  display: inline-block;

}