.parent
{
  border: 1px solid black;
  width: 100%;
  height: 800px;
  display: flex;

  /* flex-direction: column; */
  /* flex-direction: row; */
  /* flex-direction: column-reverse; */
  /* flex-direction: row-reverse; */


  /* justify-content: start; */
  /* justify-content: space-around; */
  /* justify-content: center; */
  /* justify-content: space-between; */
  /* justify-content: space-evenly; */
  /* justify-content: end; */

  /* row-gap: 1px; */
  /* column-gap: 10px; */
  /* gap: 20px; */

  /* align-items: start; */
  /* align-items: center; */
  /* align-items: end; */

  /* justify-content: center; */
  /* align-items: center; */

  /* flex-wrap: nowrap; */
  flex-wrap: wrap;
  /* flex-wrap: wrap-reverse; */

  /* align-content: center; */
  align-content: start;
  /* align-content: space-around; */
  /* align-content: end; */ 

  /* row-gap: 10px; */
  /* column-gap: 20px; */
  gap: 10px;

padding: 50px;
justify-content: center;

}

.box{
  border: 1px solid black;
  height: 100px;
  width: 100px;
  
}