*{
  margin: 0;
  padding: 0;
}

.parent{
  border: 1px solid black;
  background-image: url("https://wallpaperaccess.com/full/1686768.jpg");
  background-position: center;
  background-size: cover;
  background-repeat:no-repeat ;
  height: 700px;
  display: flex;
  justify-content: center;
    align-items: flex-end;
}

.car
{
  /* border: 1px solid red; */
  background-image: url("https://www.pngmart.com/files/15/Ford-Mustang-Convertible-Car-Back-View-Transparent-PNG.png");
   background-position: center;
  background-size: cover;
  background-repeat:no-repeat ;
  height: 200px;
  width: 250px;
margin-bottom: -50px;

animation-name: move;
animation-timing-function: linear;
animation-iteration-count: infinite;
animation-duration: 3s;

}

@keyframes move {
  0% {
    transform: perspective(1500px) translateY(0) translateZ(0) scale(1);
  }
  100% {
    transform: perspective(500px) translateY(-445px) translateZ(-445px) scale(0.3);
  }

  
}