*{
  margin: 0;
  padding: 0;
}

.parent{
  background-image: url("https://static.vecteezy.com/system/resources/previews/023/812/047/non_2x/horizontal-view-of-asphalt-road-with-bike-lens-background-of-trees-and-green-grass-with-pool-and-mountain-under-blue-sky-with-white-clouds-vector.jpg");
  background-position: center;
  background-repeat:no-repeat ;
  background-size: cover;
  display: flex;
  align-items: end;
  padding-bottom: 10px;
  
  border: 1px solid black;
  height: 500px;
  
}

.wheel
{
  background-image: url("https://pngimg.com/uploads/car_wheel/car_wheel_PNG23307.png");
  background-position: center;
  background-repeat:no-repeat ;
  background-size: cover;
  /* border: 1px solid rgb(0, 0, 0); */
  height: 100px;
  width: 100px;
  border-radius: 50%;
  /* padding: 1px; */

  /* animation: all; */
  animation-name: move;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-duration: 3s;
 
}

@keyframes move{
  0%{
    transform: translateX(-10px) rotateZ(0deg);
  }
  100%{
    transform:   translateX(1200px) rotateZ(360deg)  ;
    
  }

}