*{
  margin: 0;
  padding: 0;
}

.parent{
  background-image: url("https://static.vecteezy.com/system/resources/previews/023/812/047/non_2x/horizontal-view-of-asphalt-road-with-bike-lens-background-of-trees-and-green-grass-with-pool-and-mountain-under-blue-sky-with-white-clouds-vector.jpg");
  background-position: center;
  background-repeat:no-repeat ;
  background-size: cover;
  display: flex;
  align-items: end;
  padding-bottom: 30px;
  
  border: 1px solid black;
  height: 500px;
  
}
.car
{
  background-image: url("https://www.nicepng.com/png/full/254-2547288_share-car-without-wheels-png.png");
  background-position: center;
  background-repeat:no-repeat ;
  background-size: cover;
  /* border: 1px solid rgb(0, 0, 0); */
  height: 120px;
  width: 400px;
  display: flex;
  /* justify-content: space-evenly; */
  padding-left: 28px;
  column-gap: 182px;
  align-items: end;

    animation-name: car-move;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-duration: 4s;
}

.wheel
{
  background-image: url("https://pngimg.com/uploads/car_wheel/car_wheel_PNG23307.png");
  background-position: center;
  background-repeat:no-repeat ;
  background-size: cover;
  /* border: 1px solid rgb(0, 0, 0); */
  height: 80px;
  width: 80px;
  border-radius: 50%;
  margin-bottom: -10px;

  /* animation: all; */
  animation-name: move;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-duration: 2s;
 
}

@keyframes move{
  0%{
    transform:  rotateZ(0deg);
  }
  100%{
    transform:   rotateZ(360deg)  ;
    
  }

}

@keyframes car-move {
0%{
  transform: translateX(-100px);
}
100%{
  transform: translateX(1300px);
}
  
}