*{
  margin: 0;
  padding: 0;
}

.parent{
  border: 2px solid black;
  height: 600px;
}

.animation{
  border: 2px solid red;
  height: 100px;
  width: 100px;

  animation-name:move ;
  /* animation-duration: 5s; */
  /* animation-iteration-count: 1; */
    /* animation-iteration-count: infinite; */

    /* animation-delay: 1s; */
    /* animation-fill-mode: forwards; */

    /* animation-fill-mode: backwards; */
    /* animation-fill-mode: both; */


    /* animation-direction:normal ; */
    /* animation-direction: reverse; */
    /* animation-direction: alternate; */
    /* animation-direction: alternate-reverse; */

}

@keyframes move{
0%{
  transform: translateX(0px);
}
50%{
  background-color: green;
  border-radius: 50%;
}
100%{
    transform: translateX(600px);

}

}