*{
  padding: 0;
  margin: 0;
}
header{
  background-color: rgb(175, 59, 59);
  height: 40px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px ;
}

.logo{
  font-size: 20px;
   align-items: center;
   display: flex;
   align-items: center;
   
}

.logo img{
  /* border: 2px solid white; */
  height: 40px;
}