*{
  margin: 0;
  padding: 0;
}

.container{
  border: 1px solid black;
  display: grid;
  height: 900px;

}

.box1{
   border: 1px solid black;
   background-image: url(https://images.hdqwalls.com/wallpapers/landscape-alpine-mountains-landscape-5k-1k.jpg);
   background-repeat: no-repeat;
   background-size: 100%;

   display:grid;
   grid-template-rows:  100px auto;
  
}

.nav{
  border: 1px solid rgb(230, 21, 21);
  display:grid;
   grid-template-columns: auto auto;
   justify-content: space-around;
   align-content: center;
   color: white;
}
.nav a{
  text-decoration: none;
  color: white;
}
.nav a:hover{
  text-decoration: underline;
}
.box2{
   border: 1px solid black;
}


.box3{
   border: 1px solid black;
}