.parent {
  border: 1px solid black;
  height: 700px;
}

.transform {
  background-color: aqua;
  /* margin: 100px; */
  border: 2px solid red;
  height: 200px;
  width: 200px;


  transition-property: all;
  transition-duration: 2s;
  /* transition-delay: 1s; */

  /* transition-timing-function: linear; */
  /* transition-timing-function: ease; */
  /* slow start (2) , FAST and slow-end (2.1,1.9) */

  /* transition-timing-function: ease-in; */
  /* slow-start, fast-end */

  /* transition-timing-function: ease-out; */
  /* fast-start, slow-end */

  transition-timing-function: ease-in-out;
   /* slow start (2) , FAST and slow-end (2) */

}
.transform:hover {
  transform: translatex(700px);
  /* transform: translatey(200px); */
  /* transform: perspective(500px) translatez(-200px); */


  /* transform: skewX(45deg); */
   /* transform: skewY(45deg); */



   /* transform: rotateX(170deg); */
   /* transform: rotateY(170deg); */
   /* transform: rotateZ(170deg); */


   /* transform: perspective(150px) rotateY(60deg) scaleZ(8); */

}
