* {
  margin: 0;
  padding: 0;
}
body{
  background-color: rgb(212, 211, 209);
}
.header{
  background-image: url(./image/mountain.webp);
  background-repeat: no-repeat;
  background-size: 100%;
  height:350px;
  margin-top: 0;
  text-align: center;
  color: white;

}

.nav {
  /* border: 1px solid black; */
  /* background-color: transparent; */
  
  display: flex;
  justify-content: space-around;
  padding: 30px;
}
.logo {
  font-size: large;
  font-weight: bold;
  color: white;
}
.nav-item {
  justify-content: center;
  
}
.nav a {
  padding-left: 15px;
  color: white;
  text-decoration: none;
}
.nav a:hover{
  text-decoration:underline;
}

.header h1{
  color: white;
  margin-top: 60px;
}
.header span{
  font-size: 30px;
}

.about{
  /* border: 1px solid black; */
  background-color: white;
  display: flex;
  padding: 30px 70px;
  margin: 20px 0;

}
.about img{
  height: 300px;
}
.p-web, .p-dev{
   margin-top: 10px;
  border: 1px solid black;
  width: 100%;
}
.skill .web{
   border: 1px solid black;

  width: 90%;
  background-color: black;
  color: white;
  padding: 10px;
  display: flex;
     justify-content: space-between;

}
.skill .dev{
   width: 80%;
  background-color: black;
  color: white;
  padding: 10px;
   display: flex;
   justify-content: space-between;
}

.about .btn{
  margin-top: 10px;
}

.btn-cv{
  background-color: black;
  color: aliceblue;
  padding: 5px;
  border-radius: 5px;
}
.btn-contact{
  padding: 5px;
   border-radius: 5px;
}

.services {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding: 20px;

}

.services .box
{
  /* border: 1px solid black; */
  background-color: white;
  height: 200px;
  width: 300px;
  text-align: center;
  padding: 50px 15px;
  margin-top: 30px;
  border-radius: 15px;
  
}
.box .icon{
 font-size: 50px;

}