*{
  margin: 0;
  padding: 0;
}
body{
  background-color:lightblue;
}



.parent{
  border: 1px solid black;
  background-color: black;
  color: white;
  height: 80px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav{
display: flex;
justify-content: center;
gap: 20px;

}

a{
  text-decoration: none;
  color: white;
}

.contact{
  background-color: rgb(5, 150, 150);
  border-radius: 20px;
  width: 70px;
  text-align: center;
  padding: 3px;
}

